
:root{
    --color-texto:#FFFFFF;
    --color-fondo:#003049;
    --color-titulos: #FFFFFF;
    --color-fondo-oscuro:#D00000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;

}
html{
    font-size: 62.5%;
}
body{
    background: var(--color-texto);
    box-sizing: border-box;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    height: 10rem;
    width: 100%;
    color: var(--color-titulos);
    background-color: var(--color-fondo-oscuro); 
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.header__title{
    height: auto;
    margin: 1rem 1rem;
    width: 1rem;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.header__logo{
    
    height: auto;
    margin: 1rem 20rem;
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
}
.avengers{
    height: 7.5rem;
    width: 15rem;
    margin: .1rem ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    
    width: auto;
    height: 4rem;
    margin:2rem;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
    

p{
    font-size: 1.6rem;
    font-family: 'Zen Dots';
    width: auto;

}
h3{
    font-family: 'Zen Dots';
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assemble{
    font-size: 2rem;
    width: 15rem;
    height: 4rem;
    margin: 2rem 0;
    border: none;
    padding: .6rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-texto);
    display: flex;
    flex-wrap: wrap;
}
.swipe{
    font-size: 2rem;
    width: 15rem;
    height: 4rem;
    margin: 2rem 0;
    padding: .6rem 3.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--color-texto);
    display: flex;
    flex-wrap: wrap;
}
imput::placeholder{
    top:65%;
    
}

.heroesCatalog{
    position: relative;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    font-size: 1.5rem;    
    height: 80%;
    width: 100%;
    display: flex; 
    flex-direction: column; /*Darle dirección a los elementos*/
    justify-content: center;
    align-items: center; /*Alinear los elementos*/
    margin: 4rem;
    padding: 4rem;
}
.popular{
    text-align: left;
    font-size: 2.3rem;
    display: flex; 
    flex-direction: row; /*Darle dirección a los elementos*/
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 95%;
}

.heroes{
    display: grid;
    grid-template-columns: repeat(3,9rem 4fr);
    grid-template-rows: repeat(auto-fill, 12rem 2fr);
    gap: 2em;
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heroes grid{
    border: 3rem dotted var(--color-fondo-oscuro);
}
.footer{
    display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	justify-content: center;
	align-items: center;
    background-color: var(--color-fondo-oscuro);
    color: var(--color-texto);
    font-size: 1.5rem;
	font-weight: 400;
	margin-top: 7rem;
}    
